 body {
   color: #40514e;
   margin: 0;
   text-align: center;
   font-family: 'Montserrat', sans-serif;

 }

 a {
   margin-top: 40px;
   color: #11999E;
   font-family: 'Montserrat', sans-serif;
   margin: 10px 12px;
   text-decoration: none;
 }

 a:hover {
   color: #EAF6F6;
 }

  hr {
   border-color: #97C4B8;
   border-style: none;
   border-top-style: dotted;
   border-width: 5px;
   width: 2%;
   margin: 50px auto;
 }

 p {
    line-height: 2;
    margin-bottom: 50px;
 }

 h1 {
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', sans-serif;
   font-size: 5.625rem;
   color: #bccfcf;
 }

 h2 {
   font-size: 2.5rem;
   font-family: 'Montserrat', 'Philosopher', sans-serif;
   color: #bccfcf;
   font-weight: bold;
   padding-bottom: 10px;
 }

 h3 {
   font-family: 'Montserrat', "Myriad Pro", sans-serif;
   color: #11999e;
 }


 .brewing-width{
   width: 25px;
 }

 .bottom-cloud {
   position: absolute;
   left: 12%;
   bottom: 250px;
 }

 .top-cloud {
   position: absolute;
   right: 27%;
   top: 40px;
 }

 .skill-row {
   width: 30%;
   margin: 100px auto 100px auto;
   text-align: left;
 }

 .developer-structure {
   width: 50%;
   height: 40%;
   float: right;
   margin-left: 30px;
   margin-top: 30px;
 }

 .developer-to-be {
   padding-top: 30px;
   padding-left: 400px;
 }

 .beer {
   width: 40%;
   height: 40%;
   float: left;
   margin-right: 20px;
 }

  .contact-me {
    margin: 50px auto 60px;
    width: 40%;
  }

 .copyright {
   color: #EAF6F6;
   font-size: 0.75rem;
   padding: 20px 0;
  }

 .top-container {
   background-color: #66BFBF;
   position: relative;
   padding-top: 100px;
 }

 .middle-container {
   margin: 100px 0;
   background-color: #EAF6F6;
 }

 .bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
 }

 .programmer {
   text-decoration: underline;
 }

 .profile {
   padding-bottom: 50px;
 }

 .intro{
   width: 30%;
   margin: auto;
 }

 .footer-link{
   display: inline-block;
 }


 .btn {
   font-size:15px;
   font-family: 'Montserrat', "Myriad Pro", sans-serif;
   border-width:1px;
   color:#ffffff;
   border-color:#599bb3;
   font-weight:bold;
   padding: 10px 20px;
   border-top-left-radius:8px;
   border-top-right-radius:8px;
   border-bottom-left-radius:8px;
   border-bottom-right-radius:8px;
   background:linear-gradient(#11cdd4, #11999e);
   text-decoration: none;
 }

 .btn:hover {
   background: linear-gradient(#30e3cb, #2bc4ab);
 }
